body{
background-color: yellow;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: orange;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input {
  width: 100%;
}

#grand-total {
  width: 100%;
  height: 50px;
}
