body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: blue;
}

h1 {
    margin-bottom: 20px;
    color: aqua;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: aqua;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

#chatSection {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: aqua;
}

#chatMessages {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

#chatInput {
    width: calc(100% - 80px);
    padding: 10px;
}
